
.message_box .box{
	margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
	}

.table td {
	border-bottom: #F0F0F0 1px solid;
	padding: 10px;
	}

.cart_div {

	float:right;
	font-weight:bold;
	position:relative;
    
	}

.cart_div span {
	font-size: 12px;
    line-height: 15px;
    background: red;
    padding: -1px;
    /* border: 2px solid #fff; */
    border-radius: 50%;
    position: absolute;
   
    right: -16px;
    color: white;
    width: 16px;
    height: 16px;
    text-align: center;
	}

.cart .remove {
    background: none;
    border: none;
    color: #0067ab;
    cursor: pointer;
    padding: 0px;
	}
.cart .remove:hover {
	text-decoration:underline;
	}

.fa{
  color:red;
}
